<html>
#foreach($viewobject in$viewObject)
  id  $viewobject.user.id   <br>
  name $viewobject.user.name   <br>
    question $viewobject.question.content<br>
      $viewobject.user.headUrl   <br>

#end


</html>